.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  color: black;
  text-align: left; /* Align all content inside the popup to the left */
  align-items: left;
}

/* Test question */
.popup-content p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  /* Remove text-align: left; */
}

/* Test choices */
.popup-content label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  /* Remove text-align: left; */
}

/* Submit button */
.popup-content button[type="submit"] {
  padding: 8px 16px;
  background-color: #536ea8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Close button */
.popup-content button[type="close"] {
  background-color: #ccc;
  color: #536ea8;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

/* Score display */
.popup-content p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}

.popup-content h1 {
  text-align: center;
}

/* Wrapper for buttons */
.popup-content .button-wrapper {
    padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px; /* Add some space between the buttons */
}

.popup-content form{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.next-level-button {
    align-items: center;
    display: flex;
  }

/* Styles for the popup content */
.popup-content-end {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

/* Style for the close button */
.next-level-button button {
    background-color: #e2e8f4;
    color: #536ea8;
    border: 1;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .next-level-button button:hover {
    background-color: #536ea8;
    color: #e2e8f4;
    
  }